In [1]:
from kfold_map import tabulate_kfold, visual_kfold

In [2]:
tabulate_kfold()

   K_Fold Accuracy % Precision %    Recall  F1_Score
1       2    50.8013     66.2361  0.462749  0.544848
2       3    47.9768      81.096  0.420709   0.55401
3       4    50.2404     69.3285  0.562799  0.621264
4       5    52.0534     92.0447  0.515654  0.661001
5       6    53.1651      91.539  0.543761  0.682251
..    ...        ...         ...       ...       ...
74     75     81.407     97.3154  0.814607   0.88685
75     76    81.2183     97.2789    0.8125  0.885449
76     77    80.9278     97.2222  0.809249  0.883281
77     78    81.7708     97.2222  0.818713  0.888889
78     79    81.4815     97.1631  0.815476  0.886731

[78 rows x 5 columns]

#### tabulted relation between evaluation metrics and parameter k, in kfold means of cross validation