In [1]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
#loading the dataset
data=pd.read_csv("winequality.csv")

In [3]:
#Finding out the no. of rows and columns in the dataset.
data.shape

(4898, 13)

In [4]:
#checking the names of the columns to get a better idea of the dataset.
data.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'recommend'],
      dtype='object')

In [5]:
#Checking the dataset, the mean of the values for every parameter etc.
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [6]:
#Checking the first five values in the dataset.
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,recommend
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,False
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,False
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False

In [8]:
#checking if there is any missing data
data.isnull().any()

fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
recommend               False
dtype: bool

In [8]:
# splitting the dataset into dependent and independent variables.
X = data.drop(['recommend','quality'], axis=1)
y = data['recommend']
X.shape

(4898, 11)

In [9]:
#Splitting the datset into train set and test set. I have taken the ratio 80:20 for trainning set and test set respectively.
# The reason for choosing 80:20 ratio is to train the model on maximum of data but not overfitting it. 
from sklearn.model_selection import train_test_split

X_train,X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)
print(X_train.shape,X_test.shape,y_train.shape)

(3918, 11) (980, 11) (3918,)

In [11]:
#training the KNN classification model. I have taken the neighbors 5 because it gave me a little more accuracy than k=3.
# Moreover the test datapoint to be more like its neighbor, I think 5 is optimal because it will not compare the farther points
# and not compare too less data points like K=3
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score, f1_score
from sklearn.neighbors import KNeighborsClassifier  
model = KNeighborsClassifier(n_neighbors=5)  
model.fit(X_train, y_train)  
y_pred = model.predict(X_test)  
print('Accuracy of KNN model is')
print(accuracy_score(y_test,y_pred))

Accuracy of KNN model is
0.7714285714285715

I trained the data using a KNN model and got the accuracy of 77% (approx) which is not that bad but I will try the same data with other classfication algorithms as well.